body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 300px;
}

footer {
    margin-bottom:50px;
}

.margin-fix {
    margin-left: 20px;
    margin-right: 0;
}

.panel-header-text {
    color: navy;
}

#srce {
    
    color: palevioletred;
}

td {
    text-align:center;
}

th {
    text-align:center;
}
nav ul li:hover {
    
    color: snow;
    background-color: lightgrey;
        -webkit-transition: background-color 200ms linear;
        -moz-transition: background-color 200ms linear;
        -o-transition: background-color 200ms linear;
        -ms-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
}

nav ul li {
    height:53px;
}

nav ul li ul li {
    height:auto;
}
