body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 300;
}

h3 {
    font-weight: 400;
}

h4 {
    font-weight: 400;
}
/*Set padding to keep content from hitting the edges*/
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}

/*Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column*/

.dl-horizontal dt {
    white-space: normal;
}

/*Set width on the form input elements since they're 100% wide by default*/
input,
select {
    max-width: 100%;
}

.col-md-6 .input-group input {
    max-width: none;
}

#file-location {
    width: calc(100% - 155px);
}

textarea {
    width: 600px;
}

label {
    text-align: left;
    /*padding-top: 6px;*/
}

footer {
    margin-bottom: 50px;
}

.margin-fix {
    margin-left: 20px;
    margin-right: 0;
}

.panel-header-text {
    color: navy;
}

#srce {
    color: palevioletred;
}

.table tbody tr td {
    text-align: center;
    vertical-align: middle;
}

.vrsta {
    max-width: 120px;
}

td p {
    padding: 0px;
}

th {
    text-align: center;
}

nav ul li:hover {
    color: snow;
    /*background-color: rgba(112,128,144,0.7);*/
    background-color: #03a9f4;
    /*background-color:#80cbc4;*/
    /*background-color: #d5e1ed;*/
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.20);
    -moz-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.20);
    box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.20);
}

.navbar.navbar-default {
    border-radius: 0px;
}

nav ul li {
    height: 53px;
}

    nav ul li ul li {
        height: auto;
    }

.nav.navbar-nav.navbar-right img {
    height: 53px;
}

.navbar-right .img-thumbnail:not([src$=".jpg"]):not([src$=".jpeg"]):not([src$=".png"]) {
    visibility: hidden;
}

.nav.navbar-nav.navbar-right .img-thumbnail {
    opacity: 0.85;
}

    .nav.navbar-nav.navbar-right .img-thumbnail:hover {
        -webkit-box-shadow: inset 0px 0px 20px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 0px 20px -2px rgba(0,0,0,0.75);
        box-shadow: inset 0px 0px 20px -2px rgba(0,0,0,0.75);
        opacity: 1;
        -webkit-transition: opacity 300ms linear;
        -moz-transition: opacity 300ms linear;
        -o-transition: opacity 300ms linear;
        -ms-transition: opacity 300ms linear;
        transition: opacity 300ms linear;
    }

.collapse.navbar-collapse.navbar-left {
    width: calc( 100% - 48px );
}

#border {
    margin-left: -15px;
}

.thumbnail {
    overflow: hidden;
}

    .thumbnail p {
    }

.table.table-striped tbody tr td div.otvoren {
    background-color: #b7bfc8;
    font-size: 13px;
    color: snow;
    font-weight: 600;
}

.table.table-striped tbody tr td div.aktivan {
    background-color: salmon;
    /*background-color: #fcbcb5;*/
    font-size: 13px;
    color: snow;
    font-weight: 600;
}

.table.table-striped tbody tr td div.zavrsen {
    background-color: lightgreen;
    /*background-color:  #d3f8d3;*/
    font-size: 13px;
    color: snow;
    font-weight: 600;
}

.table.table-striped tbody tr td div.suspendovan {
    background-color: orange;
    /*background-color: #ffd280;*/
    font-size: 13px;
    color: snow;
    font-weight: 600;
}

.table.table-striped tbody tr td div.trijaza {
    background-color: skyblue;
    /*background-color: #d3edf8;*/
    font-size: 13px;
    color: snow;
    font-weight: 600;
}

.table.table-striped tbody tr td div.neaktivan {
    background-color: orangered;
    /*background-color: #ff7c4d;*/
    font-size: 13px;
    color: snow;
    font-weight: 600;
}

.status {
    display: inline-block;
    /*padding: 6px 12px;*/
    padding: 4px 8px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    /*border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;*/
    /*-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);*/
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #1a1a1a;
    background-color: #ffffff;
    border-color: #cccccc;
}

.table tbody tr td.levo {
    text-align: left;
    width: 120px;
}

.table tr td.align-left {
    text-align: left;
}

.paginacija {
    text-align: center;
}

.table-striped th {
    background-color: #d5e1ed;
}

.input-search {
    width: 230px;
    margin-right: -4px;
}

dropdown-menu ul {
    padding: 0px;
}

/*LOADING SCREEN STUFF*/
.loadingscreen {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.8);
    z-index: 1050;
    top: 0;
    left: 0;
}

.load-text {
    position: absolute;
    display: block;
    bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

.loader-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 200px;
    width: 100%;
    background-color: white;
    text-align: center;
}

.loader {
    color: slategrey;
    font-size: 70px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease;
    animation: load6 1.7s infinite ease;
    top: calc(50% - 0.5em);
    z-index: 10;
}

@-webkit-keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%, 95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%, 59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-moz-keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%, 95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%, 59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%, 95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%, 59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

/***********************************************KRAJ LOADERA********************************************************/

footer {
    height: 100%;
    background-color: #ffffff;
}

.jumbotron > hr {
    color: rgba(0,0,0,1);
    background-color: rgba(0,0,0,1);
    height: 1px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.input-group-btn > .btn {
    margin-right: -1px;
}

#btn-upld {
    margin-left: -1px;
}