@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div class="row">

    <div class="row">
        <div class="col-md-6"><div id="map"></div></div>
    </div>
    <div class="col-md-7">
        <div class="thumbnail">
            <img src="~/imgs/95cdfeef.jpg" alt="...">
            <div class="caption">
                <h3>O nama</h3>
                <p>
                    Mi smo Miljana Mikic, Stefan Trbojevic i Predrag Stefanovic. :)
                    Studenti ISiT smeta Fakulteta organizacionih nauka. Volimo IT
                    i volimo FON.
                </p>
                <a href="#" class="btn btn-default">Više &raquo;</a>
            </div>
        </div>
    </div>
</div>